doctype html
html
head
    h1 Online Compiler
    link(rel="stylesheet" href="/CSS/style.css" type="text/css")
    meta(name="viewport" content="width=device-width, initial-scale=1")
body
    div(class='toolbar')
        button(type='button' class='Run') Run
        button(type='button' class='Debug') Debug
        button(type='button' class='Stop') Stop
        button(type='button' class='Save') Save
        select(name='dropDown' id='languagePicker')
            each val in ['C++','Java','Python']
                option=val
    textarea(class='input') /* Input */
    textarea(class='output') /* Output */

