doctype html
html
    head
        h1 Online Compiler
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
        link(rel="stylesheet" href="/CSS/style.css" type="text/css")
        meta(name="viewport" content="width=device-width" initial-scale="1")
    body
        div(class='toolbar')
            button(type='button' class='Run') Run
            button(type='button' class='Debug') Debug
            button(type='button' class='Stop') Stop
            button(type='button' class='Save') Save
            select(name='dropDown' id='languagePicker')
                each val in ['Javascript','C++','Java','Python']
                    option=val
        pre(id="editor").
            function foo(items) {
                var i;
                for (i = 0; i < items.length; i++) {
                    alert("Ace Rocks " + items[i]);
                }
            }
        script(src="/JAVASCRIPT/ace/src/ace.js" type="text/javascript" charset="utf-8")
        script
            |var editor = ace.edit("editor");
            |editor.setTheme("ace/theme/monokai");
            |editor.session.setMode("ace/mode/javascript");
        textarea(class="output") /* Output */

