doctype html
html
    head
        block head
            h1 Online Compiler
            meta(charset="UTF-8")
            meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
            link(rel="stylesheet" href="/CSS/style.css" type="text/css")
            meta(name="viewport" content="width=device-width" initial-scale="1")
    body
        div(class='toolbar')
            button(type='button' class='Run' id='runbutton') Run
            button(type='button' class='Stop' id='stop') Stop
            button(type='button' class='Save' id='save') Save
            form(method="post" action="/getLang" id="langForm")
                select(name='languagePicker' id='languagePicker' onchange='this.form.submit()')
                    option(hidden disable selected value) Language
                    option(value='C++') C++
                    option(value='Java') Java
                    option(value='Python') Python
                    option(value='HTML/CSS') HTML/CSS
        div(id='stdinDIV')
            p(id='stdininput') Stdin inputs
            textarea(class='stdin' id='stdin')
        script.
            document.getElementById('stdinDIV').style.display = 'none';
        block content
