extends index
block content
    p(id='codeGet' hidden) #{code}
    div(id='java')
        pre(id='editor').
            public class HelloWorld {

                public static void main(String[] args) {
                // Prints "Hello, World" to the terminal window.
                    System.out.println("Java: Hello, World!");
                    }
            }
        script(src="/JAVASCRIPT/ace/src/ace.js" type='text/javascript' charset='utf-8')
        script.
            
            document.getElementById('languagePicker').selectedIndex = 2;
            document.getElementById('stdinDIV').style.display = 'block';
            var editor = ace.edit('editor');
            editor.setTheme("ace/theme/twilight");
            editor.session.setMode('ace/mode/java');
            //LOGGEDIN / nonLOGGEDIN CONTROL 
            //var UnameVarible=document.getElementById('usernamedisplay').innerHTML;
            if(UnameVarible==''||UnameVarible==null)
            { // non LOGGED-IN
                console.log('No');
            }
            else
            { // LOGGED IN
                var loggedCode = document.getElementById('codeGet').innerHTML;
                console.log(loggedCode);
                editor.session.setValue(loggedCode);
            }
            // Editor On-Change listener 
           // var input = document.getElementById('editor');
            editor.session.on('change',function(e){
                var xhttp = new XMLHttpRequest();
                var code = editor.getValue();
                xhttp.open('POST','/codePush',true);
                xhttp.setRequestHeader("Content-type","text/plain");
                xhttp.send(code);
            })
        textarea(class="output" disabled="disabled" id="output") /* Output */
        script.
            console.log('client-side script running :D');
            const saveButton = document.getElementById('save');
            const runButton = document.getElementById('runbutton');
            runButton.addEventListener('click',function(e) {
                var xhttp = new XMLHttpRequest();
                var code = editor.getValue();
                var stdin = document.getElementById('stdin').value
                var program = ''+ 'code=' + window.encodeURIComponent(code)+ '&stdin=' + window.encodeURIComponent(stdin);
                xhttp.open("POST","/getLang/run",true);
                xhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
                xhttp.send(program);
                console.log(code);
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        document.getElementById("output").innerHTML = this.responseText;
                    }
                };
            });
            saveButton.addEventListener('click',function(e) {
                var xhttp = new XMLHttpRequest();
                var code = editor.getValue();
                xhttp.open("POST",'/getLang/save',true);
                xhttp.setRequestHeader("Content-type",'text/plain');
                xhttp.send(code);
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        console.log(this.responseText);
                    }
                };
            });