extends index
block content
    div(id='java')
        pre(id='editor').
            my_string = "Hello, World!"
            print(my_string)
        script(src="/JAVASCRIPT/ace/src/ace.js" type='text/javascript' charset='utf-8')
        script.
            document.getElementById('languagePicker').selectedIndex = 4;
            var editor = ace.edit('editor');
            editor.setTheme("ace/theme/twilight");
            editor.session.setMode('ace/mode/python');
        textarea(class="output" disabled="disabled" id='output') /* Output */
        script.
            console.log('client-side script running :D');
            const button = document.getElementById('runbutton');
            button.addEventListener('click',function(e) {
                var xhttp = new XMLHttpRequest();
                var code = editor.getValue();
                xhttp.open("POST","/getLang/run",true);
                xhttp.setRequestHeader("Content-type","text/plain");
                xhttp.send(code);
                console.log(code);
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        document.getElementById("output").innerHTML =
                        this.responseText;
                    }
                };
            });